.status-bar {
	background-color: #000000;
}

.window {
	background-color: #000000;
	border: 2px solid #E01B24;
	border-radius: 0px;
}

.button {
	background-color: #000000;
	border: none;
	border-radius: 0px;
}

.ui-button {
	background-color: #000000;
	border: 2px solid #E01B24;
	border-radius: 0px;
}

.audio {
	color: #000000;
}

.alarm {
	font-size: 3px
}

.alarm.finished {
	font-size: 10px;
	color: #E01B24;
}

.alarm.disabled {
	color: #000000;
}

.workspace {
	font-family: 'HackNerdFontMono';
}

.workspace.empty {
	font-size: 20px;
}

.workspace.active {
	font-size: 40px;
	color: #E01B24;
}

.workspace.focused {
	font-size: 60px;
	color: #E01B24;
}

.workspace-box {
	/*min-height: 60px;*/
	min-width: 35px;
}

.music-box {
	min-width: 200px;
	min-height: 100px;
}

.audio-box {
	min-width: 100px;
	min-height: 200px;
}

.music-icon-enabled {
	color: #000000;
}

.music-icon-disabled {
	color: #FFFFFF;
}

.music-repeat {
	color: #E01B24;
}

.system-tray-icon {
}

.when {
	background-color: #E01B24;
}

.when.box {
	background-color: #000000;
	border: 2px solid #E01B24;
	border-radius: 0px;
}
