.status-bar {
	background-color: #000000;
}

.button {
	background-color: #000000;
	border: none;
	border-radius: 0px;
}

.alarm {
	font-size: 3px
}

.alarm.finished {
	font-size: 10px;
	color: #E01B24;
}

.workspace {
	font-family: 'HackNerdFontMono';
}

.workspace.empty {
	font-size: 20px;
}

.workspace.active {
	font-size: 40px;
	color: #E01B24;
}

.workspace.focused {
	font-size: 60px;
	color: #E01B24;
}

.workspace-box {
	min-height: 60;
	min-width: 60;
}

.system-tray-icon {
}
